{% extends 'layout.twig' %}

{% block body %}
  <div class="max-w-screen-md mx-auto px-8 py-16">
    <div class="prose max-w-none prose-headings:tracking-tight prose-headings:font-extrabold prose-strong:font-extrabold prose-strong:text-transparent prose-strong:bg-clip-text prose-strong:bg-gradient-to-r prose-strong:from-[#ff006e] prose-strong:to-[#8705ab]">
      {{ content|raw }}
    </div>
  </div>
{% endblock %}
